<div class="post card">
    <div class="card-header">
        <h2>{{post.title}}</h2>
        posted by: {{post.user.username}} on {{format_date post.date_created}}
    </div>
    <div class="card-body">
        {{post.content}}
    </div>
</div>



{{#if logged_in}}
    <form id="new-comment-form" class="card-body">
        {{!-- <input type="hidden" name="post-id" value="{{post.id}}" /> --}}

        <label class="form-label" id="comment-body">Comment</label>
        <textarea name="post-body" class="form-input"></textarea>

        <button type="submit" class="btn">Post Comment</button>

    </form>
{{/if}}
    {{!-- <button type="submit" class="btn">Add Comment</button> --}}

